<header class="header" role="banner">
  <link rel="stylesheet" href="../assets/common.css" />
  <a class="logo" href="../index.html" target="_top">
    <img src="../assets/images/logo.svg" alt="logo" />
    <div class="site-title">Bài tập lớn</div>
  </a>
  <label for="nav-toggle" class="nav-toggle-label">☰</label>
  <input id="nav-toggle" class="nav-toggle" type="checkbox" />
  <nav class="nav" role="navigation">
    <a href="../index.html" target="_top">Trang chủ</a>
    <a href="../about.html" target="_top">Giới thiệu</a>
    <a href="../products.html" target="_top">Sản phẩm</a>
    <a href="../blog.html" target="_top">Tin tức</a>
    <a href="../contact.html" target="_top">Liên hệ</a>
    <a href="../faq.html" target="_top">FAQ</a>
    <a href="../login.html" target="_top">Đăng nhập</a>
    <a href="../careers.html" target="_top">Tuyển dụng</a>
  </nav>
  <a
    class="cart-link"
    href="../shopping-cart.html"
    target="_top"
    >🛒</a
  >
</header>
