/* about.css - minimal */

section {
  margin-top: 12px;
}

section:nth-child(2) {
  margin-top: 0px;
}

.card img {
  height: auto;
  width: 100%;
  border-radius: var(--radius);
  margin-bottom: 12px;
}

.person-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.person-card img {
  margin-top: 12px;
}

@keyframes slideLeft {
  from {
    opacity: 0;
    transform: translateX(-500px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideRight {
  from {
    opacity: 0;
    transform: translateX(500px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.card-left {
  opacity: 0;
  transform: translateX(-1000px);
  animation: slideLeft 1.5s ease forwards;
}

.card-right {
  opacity: 0;
  transform: translateX(1000px);
  animation: slideRight 1.5s ease forwards;
}
