.post {
  display: flex;
  align-items: center;
  justify-content: center;
}

.post img {
  width: 200px;
  min-width: 200px;
  height: 150px;
  object-fit: fill;
  object-position: center;
}

.post > div {
  min-width: 200px;
}

@media (max-width: 700px) {
  .post {
    flex-wrap: wrap;
  }
}
