video {
  width: 100%;
  height: auto;
  border-radius: var(--radius);
}

section:nth-child(2) {
  margin-bottom: 12px;
}

.description-content {
  margin-top: 24px;
  color: grey;
  font-size: 16px;
}

.info-container {
  display: flex;
  gap: 18px;
  flex-wrap: wrap;
}

.info {
  flex: 1;
  min-width: 240px;
}

.info h2 {
  word-wrap: break-word;
  margin-top: 0px;
}

.variant-cotainer {
  margin-top: 24px;
  margin-bottom: 48px;
  display: flex;
  flex-flow: column;
  gap: 16px
}

.variant-cotainer .variant {
  margin-top: 12px;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}
