/* products.css - minimal */

.grid .card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn-container {
  flex: 1;
  display: flex;
  align-items: flex-end;
  padding-top: 8px;
  width: 100%;
}

.btn-container .btn {
  width: 100%;
  text-align: center;
}

.grid .card h1,
h3,
p {
  margin: 4px 0px;
  word-wrap: break-word;
}

.card img {
  width: 200px;
  height: 200px;
}

.price {
  font-weight: 600;
  margin-top: 6px;
  color: var(--text);
}

.before-price {
  text-decoration: line-through;
}

.last-price {
  color: var(--danger);
}

.description {
  font-size: 12px;
}

.filter {
  margin-bottom: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 12px;
}

.select-group {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
}
