/* product-detail.css - minimal */

video {
  width: 100%;
  height: auto;
  border-radius: var(--radius);
}

section:nth-child(2) {
  margin-bottom: 12px;
}

.description-content {
  margin-top: 24px;
  color: grey;
  font-size: 16px;
}

.info-container {
  display: flex;
  gap: 18px;
  flex-wrap: wrap;
}

.info {
  flex: 1;
  min-width: 240px;
}

.info h2 {
  word-wrap: break-word;
  margin-top: 0px;
}
